html, body, h1, h2, h3, h4, h5, h6, a, p , div{
    font-family: 'Lora', serif !important;
	/*color: #666 !important;*/
}

.logo-img {
    height: 48px !important;
    width: auto;
    margin-left: 15px;
}

.custom-badge {
    background: black !important;
}

.uk-iconnav > li {
    margin-left: 10px;
}

.uk-iconnav > li > a, .uk-iconnav > li > button{
    color: black;
}

.custom-mega-menu > ul > li > a{
    color: black !important;
    font-size: 12px !important;
}
.custom-mega-menu > ul > li:hover{
    background-color: rgba(159, 159, 159, 0.1);
}

.feature-product-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.feature-product-item {
    padding: 10px !important;
}

.big-photo {
    margin-top: 50px;
}

.card-photo {
    padding: 0px;
}

.bottom-slider {
    margin-top: 50px;
}

.top-header {
    background-color: black;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.top-header > p {
    color: white;
    font-size: 11px;
}

.background-for-nav {
    background-color: white;
    width: 100%;
    height: 48px;
    position: absolute;
}

.fb-fav-title {
    margin-top: 10px;
}

.fb-fav-item {
    margin-bottom: 25px;
}

.first-slide-overlay > div > p {
    font-size: 20pt;
}

.slider-btn {
    background-color: black;
    color: white;
}

.slider-scroll-down-btn {
    height: 40px;
    width: 40px;
    border: 1px solid white;
}

div.uk-navbar-dropdown.uk-drop.uk-drop-boundary.uk-drop-bottom-center {
    top: 44px !important;
}

.mega-menu-col-header > a {
    color: white;
    background-color: black;
}

.product-card-text > p {
    color: black;
    font-size: 12px;
}

.fb-section-text, fb-section-text > a {
    color: black;
    font-size: 12px;
}

.fb-section-title {
    color: black;
    font-size: 20px;
}

.btn-shop-it {
    background-color: transparent;
    border: 4px solid white;
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 10pt !important;
}

.btn-shop-it:hover {
    background-color: white;
    color: black !important;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 10pt !important;
}

.navbar-mobile {

    height: 48px;
    background-color: white !important;
}

.navbar-mobile > div > a {
    color: #666 !important;
}

.uk-offcanvas-bar {
    background-color: white;
}

.offcanvs-text * {
    color: #666 !important;
}

.offcanvs-text *::after {
    background-color: #494949;
    border-radius: 100%;
    width: 4px !important;
    height: 4px !important;
    padding: 8px;
}

.offcanvas-cell {
    border-bottom: 0.6px solid #66666647 !important;
    /*padding-top: 6.5px;*/
    /*padding-bottom: 6.5px;*/
}
.offcanvas-cell-lv2-li{
    border-top: 0.6px solid #66666647 !important;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
}

/*.offcanvas-sub-cell {*/
    /*padding-top: 0;*/
    /*padding-bottom: 0;*/
/*}*/

ul.uk-nav-sub {
    padding: 0 10px 0 10px;
}
.offcanvas-cell-lv1 {
    padding: 12px 15px 12px 15px !important;
    font-size: 13px !important;
    font-weight: 700 !important;
}

.offcanvas-cell-lv2 {
    padding: 10px 15px 10px 15px !important;
    font-size: 11px !important;
    font-weight: 400 !important;
}

.uk-breadcrumb {
    margin-bottom: 0;
}

.custom-breadcrumb {
    border-radius: 4px;
}

.easy-autocomplete {
	width: 100% !important;
}

.square {
    float:left;
    position: relative;
    width: 100%;
    padding-bottom : 100%; /* = width for a 1:1 aspect ratio */
    /*margin:1.66%;*/
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.sbl-product-title{
	font-size: 10px;
	color: #222;
	font-weight: 400;
	padding: 2px;
	margin: 0;
	text-transform: uppercase;
}

.sbl-product-btn {
	font-size: 10px;
	font-weight: 400;
	margin: 0;
	text-transform: uppercase;
}

.custom-marker {
	background: white;
	color: black;
	font-size: 12px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	position: absolute;
}


/*.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #ccc;
    zcursor: help;
    color: #006080;
}*/
.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity .6s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.tooltip .tooltiptext2 {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
}
.tooltip:hover .tooltiptext2 {
    visibility: visible;
}
.tooltip-right {
  top: -5px;
  left: 125%;  
}
.tooltip-right2 {
  top: -5px;
  left: 105%;  
}

.tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip-bottom {
  top: 135%;
  left: 50%;  
  margin-left: -60px;
}

.tooltip-bottom2 {
  top: 125%;
  left: 50%;  
  margin-left: -60px;
}

.tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip-top {
  bottom: 125%;
  left: 50%;  
  margin-left: -60px;
}
.tooltip-top2 {
  bottom: 115%;
  left: 50%;  
  margin-left: -60px;
}

.tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black; transparent transparent transparent;
}

.tooltip-left {
  top: -5px;
  bottom:auto;
  right: 128%;  
}

.tooltip-left2 {
  top: -5px;
  bottom:auto;
  right: 105%;  
}

.tooltip-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}

.tooltip .tooltiptext-bottomarrow {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: -60px;
}
.tooltip .tooltiptext-bottomarrow::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltiptext-bottomarrow {
    visibility: visible;
}

.tooltip .tooltiptext-toparrow {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}
.tooltip .tooltiptext-toparrow::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext-toparrow {
    visibility: visible;
}

.tooltip .tooltiptext-leftarrow {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}
.tooltip .tooltiptext-leftarrow::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext-leftarrow {
    visibility: visible;
}
.tooltip .tooltiptext-rightarrow {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}
.tooltip .tooltiptext-rightarrow::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.tooltip:hover .tooltiptext-rightarrow {
    visibility: visible;
}


@media (min-width: 320px) and (max-width: 1200px){

}
@media (min-width: 1200px){

    .custom-modal {
        padding-top: 0; 
        padding-bottom: 0;
        padding-left: 200px;
        padding-right: 200px;
        background: rgba(116, 99, 99, 0.65);
    }

}

.sbl-description {

    font-size: 12px;
    line-height: 1.5;
    font-family: Times New Roman, serif;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}